<div class="container shadow-lg mt-5 rounded">
  <div class="row">
    <div class="col-6">
      <form class="m-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Sign in</h1>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-plus"></i></span>
          <input formControlName="identifier" type="text" class="form-control" placeholder="Your Email or Your UT Number" aria-label="Emailname&utnumber" aria-describedby="basic-addon2">
        </div>
        <div *ngIf="submitted && f['identifier'].errors" class="form-text text-danger">
          Valid Email or UT Number is required
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-file-lock"></i></span>
          <input formControlName="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <div *ngIf="submitted && f['password'].errors" class="form-text text-danger">
          Password must be at least 6 characters long
        </div>

        <input type="checkbox">
        <label>Remember me</label>

        <button type="submit" class="btn btn-primary">Log in</button>
        <p class="text-secondary link-underline-secondary" (click)="navigateToRegister()">Create an Account</p>
      </form>
    </div>
    <div class="col-6">
      <img src="signin-image.jpg" alt="Sign In Image" class="img-fluid">
    </div>
  </div>
</div>
